<mat-card class="registro-card">
    <mat-card-header>
        <mat-card-title>
            <div mat-card-avatar class="login-card-header-image"></div>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <h3>Inscripcion</h3>
        <form [formGroup]="formularioGrp">
            <mat-grid-list cols="12" rowHeight="55px">
                <mat-grid-tile [ResponsiveRows]="{xs:12, sm:12, md:12, lg:12, xl:12}">
                    <mat-form-field>
                        <mat-label>DNI</mat-label>
                        <input matInput formControlName="dni" type="number" placeholder="DNI" (keyup.enter)="buscar()">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [ResponsiveRows]="{xs:12, sm:12, md:12, lg:12, xl:12}">
                    <mat-form-field>
                        <mat-label>Nombres</mat-label>
                        <input matInput formControlName="nombre" type="text" placeholder="Nombres"
                            (keyup.enter)="registrar()" [Uppercased]>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [ResponsiveRows]="{xs:12, sm:12, md:12, lg:12, xl:12}">
                    <mat-form-field>
                        <mat-label>Apellido Paterno</mat-label>
                        <input matInput formControlName="apellidoPat" type="text" placeholder="Apellido Paterno"
                            (keyup.enter)="registrar()" [Uppercased]>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [ResponsiveRows]="{xs:12, sm:12, md:12, lg:12, xl:12}">
                    <mat-form-field>
                        <mat-label>Apellido Materno</mat-label>
                        <input matInput formControlName="apellidoMat" type="text" placeholder="Apellido Materno"
                            (keyup.enter)="registrar()" [Uppercased]>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [ResponsiveRows]="{xs:12, sm:12, md:12, lg:12, xl:12}">
                    <mat-form-field>
                        <mat-label>Celular</mat-label>
                        <input matInput formControlName="celular" type="number" placeholder="Celular"
                            (keyup.enter)="registrar()">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [ResponsiveRows]="{xs:12, sm:12, md:12, lg:12, xl:12}">
                    <mat-form-field>
                        <mat-label>Direccion</mat-label>
                        <input matInput formControlName="direccion" type="text" placeholder="Direccion"
                            (keyup.enter)="registrar()" [Uppercased]>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [ResponsiveRows]="{xs:12, sm:12, md:12, lg:12, xl:12}">
                    <mat-form-field>
                        <mat-label>Departamento</mat-label>
                        <mat-select formControlName="departamento" placeholder="Departamento"
                            (keyup.enter)="registrar()" (selectionChange)="comboProvincia()">
                            <mat-option *ngFor="let departamento of listaDepartamento" [value]="departamento">
                                {{departamento.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [ResponsiveRows]="{xs:12, sm:12, md:12, lg:12, xl:12}">
                    <mat-form-field>
                        <mat-label>Provincia</mat-label>
                        <mat-select formControlName="provincia" placeholder="Provincia" (keyup.enter)="registrar()"
                            (selectionChange)="comboDistrito()">
                            <mat-option *ngFor="let provincia of listaProvincia" [value]="provincia">
                                {{provincia.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [ResponsiveRows]="{xs:12, sm:12, md:12, lg:12, xl:12}">
                    <mat-form-field>
                        <mat-label>Distrito</mat-label>
                        <mat-select formControlName="distrito" placeholder="Distrito" (keyup.enter)="registrar()">
                            <mat-option *ngFor="let distrito of listaDistrito" [value]="distrito">
                                {{distrito.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [ResponsiveRows]="{xs:12, sm: 12, md: 12, lg: 12, xl: 12}">
                    <mat-form-field>
                        <input matInput formControlName="fechaInscripcion" [matDatepicker]="picker"
                            placeholder="Fecha inscripcion" disabled="true">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [ResponsiveRows]="{xs:12, sm:12, md:12, lg:12, xl:12}">
                    <button mat-raised-button type="button" color="primary" (click)="registrar()">Registrar</button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card-content>
</mat-card>