.registro-card {
    margin: 10px auto 0%;
    width: 350px;
    max-width: 350px;
    text-align: center;
    mat-card-header {
        display: flex !important;
        justify-content: center !important;
    }
}

mat-card {
    box-shadow: 0 3px 8px #888888 !important;
}

mat-grid-tile {
    mat-form-field {
        width: 90%;
    }
    button {
        width: 90%;
    }
}

::ng-deep .login-card-header-image {
    background-image: url("../../../../../assets/images/intranet/icons/nazareno.png");
    background-size: cover;
    height: 120px !important;
    width: 242px !important;
}

mat-checkbox {
    padding-left: 10px;
}

::ng-deep mat-card-title {
    div {
        margin: 0 auto;
    }
}

.mat-card-avatar{
    border-radius: 1%;

}
